body
{
    font-family:"Roboto", Arial, sans-serif;
    margin:0 auto;
    text-align:center;
    margin-top:50px;
    color:#FFF;
    text-shadow:-1px -1px #333;
    background:#333;
}

.turn
{
    margin-bottom:15px;
}
    
table
{
    border-collapse:collapse;
    width:150px;
    margin:0 auto;
}

td
{
    width:50px;
    height:50px;
    border:1px solid #555;
    cursor:pointer;
}
        
td:before
{
    font-size:1.5em;
    line-height:1;
}

td.cross:before
{
    content:"x";
    color:lightblue;
}
        
td.circle:before
{
    content:"o";
    color:pink;
}
      
.reset
{
    background:#555;
    border:1px solid #333;
    padding:5px 10px;
    color:#FFF;
    cursor:pointer;
    font-family:"Roboto", Arial, sans-serif;
    text-transform:uppercase;
}
      
.reset:hover
{
    opacity:0.8;
}